[Desktop Entry]
Name=Penrose Arlo
Comment=This is a window manager based on Penrose in Rust
Exec=/home/arlo/.local/share/penrose_arlo/target/release/penrose_arlo
Type=Application
DesktopNames=PenroseArlo
